@model IEnumerable<Application7.Web.Models.OrderInformation>

@{
    ViewData["Title"] = "Index";
}
<style>
    body{

        
        background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiIJ4A7_UPGFqcW5d10vQ9Zjkd4KHaTTsMVQ&usqp=CAU');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:100%100%;
          }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderMenu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderMenu.OrderMenuId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderInformationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderInformationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderInformationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
